#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 2rem;
  color: #000000DE;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  >div {
    max-width: 30rem;
  }
}